@charset "utf-8";

// GOOGLE FONTS IMPORT (ROBOTO, 400 & 700)
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

// COLOUR PALETTE
$my-blue-dark: #03051C;
$my-blue-light: #3460EF;
$my-white: #FFFFFF;

// UPDATE BULMA'S GLOBAL VARIABLES

// Colours
$primary: $my-blue-dark;
$link: $my-blue-light;

// Typography
$family-sans-serif: "Roboto", sans-serif;

// UPDATE SPECIFIC BULMA VARIABLES

// Footer
$footer-background-color: $primary;

// Title element
$title-color: $primary;

// Menu component
$menu-item-color: $my-white;
$menu-item-hover-color: $my-white;
$menu-item-hover-background-color: $link;
$menu-item-active-color: $primary;
$menu-item-active-background-color: $my-white;

// Steps component
$steps-default-color: $primary;
$steps-completed-color: $primary;
$steps-active-color: $primary;

// IMPORT OF BULMA COMPONENTS

// Bulma core files
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";

// Bulma grid system
@import "../../../node_modules/bulma/sass/grid/_all.sass";

// Bulma layout
@import "../../../node_modules/bulma/sass/layout/_all.sass";

// Bulma elements
@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/elements/icon.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";

// Bulma forms
@import "../../../node_modules/bulma/sass/form/_all.sass";

// Bulma components
@import "../../../node_modules/bulma/sass/components/level.sass";
@import "../../../node_modules/bulma/sass/components/menu.sass";
@import "../../../node_modules/bulma/sass/components/message.sass";

// Bulma steps extension
@import "../../../node_modules/bulma-o-steps/bulma-steps.sass";

// Bulma spacing extension
@import "../../../node_modules/bulma-spacing/bulma-spacing.scss";
