@charset "utf-8";

// GOOGLE FONTS IMPORT (ROBOTO, 400 & 700)
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

// COLOUR PALETTE
$my-blue-dark: #03051C;
$my-blue-light: #3460EF;
$my-grey-dark: #9A9A9A;
$my-grey-light: #E4DADA;

// UPDATE BULMA'S GLOBAL VARIABLES

// Colours
$primary: $my-blue-dark;


// Typography
$family-sans-serif: "Roboto", sans-serif;
$body-font-size: 1.25rem;
$text: $primary;

// IMPORT OF BULMA COMPONENTS

// Bulma core files
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";

// Bulma elements
@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/icon.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";


// Bulma forms
@import "../../../node_modules/bulma/sass/form/_all.sass";
